<div class="card">
  <div class="card-header p-0">
    <div class="row">
      <div class="col-6">
        <h3 class="ps-3 pt-3">{{modalTitle}}</h3>
      </div>
      <div class="col-6 text-end">
        <button (click)="close()" mat-icon-button class="m-2">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>



  </div>
  <div class="card-body">

    <mat-form-field class="w-25">
      <mat-label>Order Name</mat-label>
      <input matInput [(ngModel)]="orderName">
    </mat-form-field>

    <form [formGroup]="addItemForm" (ngSubmit)="onSubmitItemOrderForm()">

      <mat-form-field class="item-input">
        <mat-label>Item Name</mat-label>
        <input matInput formControlName="itemName" type="text">
      </mat-form-field>

      <mat-form-field class="item-input ms-4">
        <mat-label>Quantity</mat-label>
        <input matInput formControlName="quantity">
      </mat-form-field>

      <mat-form-field class="item-input ms-4">
        <mat-label>Price</mat-label>
        <input matInput formControlName="price">
      </mat-form-field>

      <button mat-raised-button color="primary" class="ms-4" *ngIf="!updateBtn">Add</button>
      <button type="button" mat-raised-button color="primary" (click)="updateItem()" class="ms-4"
        *ngIf="updateBtn">Update</button>


      <p *ngIf="errorMessage" class="text-danger pt-1 mb-5 pb-1" [innerHtml]="errorMessage"></p>

    </form>


    <table class="table mt-4 mb-2" *ngIf="itemList.length">
      <thead>
        <tr class="table-secondary">
          <th scope="col">#</th>
          <th scope="col">Item Name</th>
          <th scope="col" class="text-center">Quantity</th>
          <th scope="col" class="text-end">Price</th>
          <th scope="col" class="text-center">Action</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of itemList,index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{item.itemName}}</td>
          <td class="text-center">{{item.quantity}}</td>
          <td class="text-end">{{item.price}}</td>
          <td class="text-center">
            <button *ngIf="order" [disabled]="!item.itemId" (click)="onClickEdit(item,i)" matTooltip="Edit Item"
              mat-icon-button color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="onClickDelete(i)" matTooltip="Delete Item" mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>

      </tbody>
    </table>

    <div>
      <h4>Select address
        <button mat-icon-button color="primary" (click)="addAddress()"><mat-icon>add</mat-icon></button>
      </h4>

      <mat-radio-group aria-label="Select delivery address" [(ngModel)]="selectedAddress">
        <div class="row">
          <div class="col-sm-4 mt-2" *ngFor="let add of addresses;index as i">
            <mat-card>
              <mat-card-content>
                <mat-radio-button color="primary" [value]="add.addressId">

                  <div class="address">
                    <span>{{add.addressLine1}}</span><br>
                    <span>{{add.street}}</span><br>
                    <span>{{add.city}}, {{add.state}}</span><br>
                    <span>{{add.pincode}}</span>
                  </div>

                </mat-radio-button>
              </mat-card-content>
            </mat-card>
          </div>

        </div>

      </mat-radio-group>
      <p class="text-danger mt-2" *ngIf="addError">{{addError}}</p>
    </div>
  </div>
  <div class="text-end mb-3 me-4">
    <button class="me-2" mat-button color="basic" (click)="close()">Cancel</button>
    <button mat-button (click)="saveOrder()" *ngIf="!order">Save</button>
    <button mat-button (click)="saveUpdateOrder()" *ngIf="order">Update Order</button>
  </div>

</div>